<%- include('header') %>
<body>
    <%- include('profileNav') %>
    <div class="why-container">
        <h1>Welcome to the Meditation Diary</h1>
        <p>
            This site was created for the purpose of allowing people 
            to explore the practice of journaling and meditation. Our 
            world is increasingly steering towards a materialistic 
            lifestyle which constantly distracts us from looking inwards. 
            This causes us to become unfamiliar with our emotions and 
            feelings which puts us in states of anxiety and depression. 
            The practices of meditation and journaling are designed to help 
            mitigate those negative feelings as you are more in tune with 
            your mind. To efficiently use this site, after each meditation 
            log and record any interesting thoughts you had. These thoughts 
            can include interesting parts of your day, new ideas, goals, and 
            affirmations.
        </p>
        <p>Click on the Diary link to see your meditation history.</p>
    </div>
</body>
</html>