<%- include('header') %>
<body>
    <%- include('navigation') %>
    <div class="error-container">
        <h1>Oops! Something went wrong.</h1>
        <p>Sorry about that. Please try again later.</p>
</body>
</html>