<%- include('header') %>
<body>
    <%- include('navigation') %>
    <h1>Welcome to the Meditation Diary</h1>
    <p>Login or Sign up to start keeping track of your meditation history.</p>
    <a id = "learn-more" href="/about">Learn more</a>
</body>
</html>