<%- include("header") %>
<body>
    <%- include("profileNav") %>
    <h1>Welcome <%= name %></h1>
    <p>Here you can keep track of your meditation practice.</p>
    <p>Click on the Diary link to see your meditation history.</p>
</body>
</html>